#projects {
  padding-top: 3vh;
  padding-bottom: 5vh;

  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4vh;
  background: #151515;
  color: white;
  border-radius: 64px;
  margin-bottom: 5vh;
  padding-left: 4vw;
  padding-right: 4vw;

}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.project {
  width: 300px;
  height: 200px;
 background: url('../../assets/img/blob.svg');
  border-radius: 30px;
  position: relative;
  padding-right: 1vw;
  
}

.project::before{
  content: "";
  background: linear-gradient(23.21deg, #001220 -5.91%, #d23f89 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  border-radius: 30px;

  transition: 0.4s ease-in-out;
  left: 0;
}

.repository{
  display: none;
}

.project:hover::before {
  height: 100%;
}

.project:hover .repository {
  display: block;
  transition: 0.4s ease-in-out;
  z-index: 2;
  position: relative;
}

.project:hover .repository {
  display: block;
  transition: 0.4s ease-in-out;
  z-index: 2;
  position: relative;
}

@media (min-width: 640px) {
  #projects{
    padding-top: 10vh;
    padding-bottom: 20vh;
  }
}