#connect {
  background: url("../../assets/img/layered-waves-haikei.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contact-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: white;
}

.contact-wrapper > * {
  padding: 2em;
}

.contact-form {
  background-color: #151515;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

#connect img {
  display: none;
}

@media (min-width: 640px) {
  #connect {
    display: flex;
    flex-direction: row;
  }

  #connect img {
    display: block;
    width: 50%;
  }


  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-form form .block {
    grid-column: 1 / 3;
  }
  
}
