@font-face {
  font-family: fontBook;
  src: url("./assets//font/CentraNo2-Book.ttf");
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: fontBook;
}


a {
  text-decoration: none !important;
  text-decoration: underline;
  color: white;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}